$primary-aqua: #36c0c8;
$primary-purple: #2a2d4e;
$grey: #e6e8eb;
$dark-grey: #808a9c;

.lesson-booking-form-wrp {
	background: $primary-purple;
	padding: 40px;

	label {
		text-transform: uppercase;
		color: $primary-aqua;
		margin-right: 40px;
		font-size: 18px;
		font-weight: 300;
	}

	#schedule {
		.select-facilitator-wrp {
			display: flex;
			align-items: center;
			margin: 0 0 50px 0;
			width: 550px;
			max-width: 50%;

			select {
				color: #fff;
				background: $primary-aqua;
				border-radius: 5px;
				padding: 5px 10px;
				font-size: 16px;
				font-weight: 300;
				flex-grow: 1;
			}
		}

		.select-datetime-wrp {
			display: flex;

			.select-day-wrp {
				margin-right: 50px;
				width: 550px;
				max-width: 50%;

				#date {
					margin-top: 10px;
				}

				.datepicker {
					width: 100%;
					border: none !important;

					table {
						width: 100%;

						thead {
							tr {
								th.datepicker-month {
									text-transform: uppercase;
									color: $primary-aqua;
									font-size: 18px;
									font-weight: 300;
									cursor: arrow;

									&:hover {
										background: inherit;
									}
								}

								th.prev,
								th.next {
									background-color: $primary-aqua;
									background-repeat: no-repeat;
									background-size: 12px;
									background-position: center center;
									border-radius: 10px;
								}

								th.prev {
									background-image: url('/images/left-arrow.png');
								}

								th.next {
									background-image: url('/images/right-arrow.png');
								}

								th.dow {
									color: #fff;
									background: $primary-aqua;
									font-weight: 300;
									border-radius: 0px;
									border: 1px solid $dark-grey;
								}
							}
						}

						tbody {
							tr {
								td {
									border-radius: 0px !important;
									border: 1px solid $dark-grey;
								}
								td.day {
									background: #fff;
									color: $primary-purple;
									font-size: 14px;
									font-weight: 400;
									padding: 12px 20px;
								}
								td.day.active {
									background: $primary-aqua;
								}
								td.disabled,
								td.old {
									color: $dark-grey;
								}
								td.disabled {
									background: $grey;
								}
								td.old {
									background: $primary-purple;
								}
							}
						}
					}
				}

				.calendar-legend-wrp {
					margin-top: 20px;
					display: flex;
					align-items: center;
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 300;

					.legend-key {
						margin-right: 10px;
						background: #fff;
						border-radius: 3px;
						width: 20px;
						height: 20px;
					}
				}
			}

			.select-time-wrp {
				width: 50%;

				.form-heading {
					border-bottom: 1px solid $primary-aqua;
					width: 100%;
				}
				#time {
					border: none;
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					max-height: 260px;
					max-width: 500px;

					.time-item {
						color: #fff;
						border: 1px solid $primary-aqua;
						border-radius: 4px;
						padding: 8px 16px;
						font-size: 16px;
						margin: 5px 0;
						max-width: 125px;
						cursor: pointer;

						&:hover {
							background: $primary-aqua;
						}

						&.active {
							background: $primary-aqua;
						}
					}
				}
				button {
					background: $primary-aqua;
					padding: 8px 35px;
					border: none;
					outline: none;
					color: #fff;
					text-transform: uppercase;
					border-radius: 4px;
					font-weight: 300;
					font-size: 20px;
					margin-top: 25px;
				}
				button:hover {
					color: $primary-purple;
				}
			}
		}
	}

	#client {
		display: none;

		.client-details-wrp {
			display: flex;

			.user-details-wrp {
				display: flex;
				flex-direction: column;
				border: 1px solid $primary-aqua;
				border-radius: 4px;
				padding: 20px 40px;
				width: 450px;
				margin-right: 40px;

				.form-item {
					display: flex;
					flex-direction: column;
					margin: 6px 0;

					label {
						font-size: 13px;
						margin-bottom: 2px;
					}

					input {
						border: none;
						outline: none;
						border-radius: 3px;
						height: 40px;
						padding-left: 10px;
						font-size: 16px;
					}
				}
			}

			.lesson-details-wrp {
				background: $primary-aqua;
				border-radius: 4px;
				padding: 20px 40px;
				width: 450px;

				p.heading {
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 300;
					margin-bottom: 25px;

					&:after {
						content: '';
						display: block;
						width: 60px;
						padding-top: 20px;
						border-bottom: 1px solid #fff;
					}
				}

				p.professor,
				p.date,
				p.time {
					color: $primary-purple;
					text-transform: uppercase;
					font-weight: 400;
					margin: 0;
				}

				p.professor {
					font-size: 18px;
				}

				p.date {
					font-size: 22px;
				}

				p.time {
					font-size: 20px;
				}
			}
		}
		button {
			background: $primary-aqua;
			padding: 8px 35px;
			border: none;
			outline: none;
			color: #fff;
			text-transform: uppercase;
			border-radius: 4px;
			font-weight: 300;
			font-size: 20px;
			margin-top: 25px;
		}
		button:hover {
			color: $primary-purple;
		}
	}
}

@media (max-width: 800px) {
	.lesson-booking-form-wrp {
		#schedule {
			.select-facilitator-wrp {
				flex-direction: column;
				max-width: 90%;

				label {
					margin: 0 auto 10px 0;
				}

				select {
					margin: 0 auto 0 0;
					width: 100%;
				}
			}

			.select-datetime-wrp {
				flex-direction: column;

				.select-day-wrp {
					margin: 0 0 30px 0;
					max-width: 90%;
				}

				.select-time-wrp {
					width: 90%;
				}
			}
		}

		#client {
			.client-details-wrp {
				flex-direction: column;

				.user-details-wrp {
					margin: 20px 0;
					width: 90%;
				}

				.lesson-details-wrp {
					width: 90%;
				}
			}
		}
	}
}
